/* nav css */
nav {
  z-index: 9;
  position: sticky;
  padding: 5px;
  margin-left: 0%;
  margin-right: 0%;
  justify-content: center;
  margin-top: -10px;
  float: none;
  vertical-align: top;
  text-align: center;
  align-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
  padding-top: 20px;
  padding-bottom: 15px;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
}

li {
  display: inline-block;
}

nav li a {
  padding: 1em;
  margin: 0px 30px 0px;
}

a {
  text-emphasis: none;
  text-decoration: none;
  color: #FBDA90;
}

a:hover {
  color: #C58907;
  transition: 0.3s;
}

.sticky{
  position: -webkit-sticky;
	position: sticky;
	top: 0;
  background: white;
}

.emoji{
  font-size: 30px;
  padding: 10px;
}

#content{
  justify-content: center;
  align-items: center;
  display: flex;
}

#content .card{
  margin: 10px;
}

#mamamia {
  text-align: center;
}

a {
  text-emphasis: none;
  text-decoration: none;
  color: #FBDA90;
}

a:hover {
  color: #C58907;
  transition: 0.3s;
  text-decoration: none;
}

.donations{
  justify-content: center;
  align-items: center;
  display: inline-block;
  padding: 20px;
  margin: 10px;
  text-align: center;
}

#donations-body{
  display: inline-block;
  text-align: center;
  
}
#map {
  width: 350px;
  height: 200px;
  border-radius: 10px;
  border:0.5px solid green;
/*   margin: 0;
  padding: 0; */
    
}
.mapboxgl-canvas{
  right: 0px;
}
.hidden{
  display: none;
}