
  background: #ffffff;
  display:flex;
  justify-content: center;
  align-items: center;
}

h1   {position:absolute;
      color: black;
     margin:auto;
     top: 3%;}
p    {color: red;}

#maps_button {
    position:absolute;
    transition: .5s ease;
    top: 25%;
    left: 25%;
}

#recipes_button {
    position:absolute;
    transition: .5s ease;
    top: 25%;
    left: 75%;
  
}
iframe.a {
    width:40%;
    position:relative;
    top: 100px;
    left: 0%;
    float:down;
    padding-bottom: 15px;
    padding-right: 15px;
}



.recipe{
  position: absolute;
  top: 25%;
  left: 68%;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
  
}
.recipe{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;
  
}
.recipe:before,
.recipe:after{
  position: absolute;
  content: "Recipes";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}
.recipe:before{
  color: #fff;
  background: #fbda90;
  transform: rotateY(0deg) translateZ(25px);
}
.recipe:after{
  color: #ffffff;
  background: #fbda90;
  transform: rotateX(90deg) translateZ(25px);
}
.recipe:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}

.maps{
  position: absolute;
  top: 25%;
  left: 15%;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
}
.maps{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;
  
}
.maps:before,
.maps:after{
  position: absolute;
  content: "Maps";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}
.maps:before{
  color: #fff;
  background: #fbda90;
  transform: rotateY(0deg) translateZ(25px);
}
.maps:after{
  color: #ffffff;
  background: #fbda90;
  transform: rotateX(90deg) translateZ(25px);
}
.maps:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}


.volunteer{
  position: absolute;
  top: 70%;
  left: 47%;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
}
.volunteer{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;
  
}
.volunteer:before,
.volunteer:after{
  position: absolute;
  content: "Volunteer";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}
.volunteer:before{
  color: #fff;
  background: #fbda90;
  transform: rotateY(0deg) translateZ(25px);
}
.volunteer:after{
  color: #ffffff;
  background: #fbda90;
  transform: rotateX(90deg) translateZ(25px);
}
.volunteer:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}

.addrecipe{
  position: absolute;
  top: 80%;
  left: 42%;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
}
.addrecipe{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;
  
}
.addrecipe:before,
.addrecipe:after{
  position: absolute;
  content: "Add Recipe";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}
.addrecipe:before{
  color: #fff;
  background: #fbda90;
  transform: rotateY(0deg) translateZ(25px);
}
.addrecipe:after{
  color: #ffffff;
  background: #fbda90;
  transform: rotateX(90deg) translateZ(25px);
}
.addrecipe:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}

.home{
  position: absolute;
  top: 2%;
  left: 2%;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
  
}
.home{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;
  
}
.home:before,
.home:after{
  position: absolute;
  content: "Home";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}
.home:before{
  color: #fff;
  background: #fbda90;
  transform: rotateY(0deg) translateZ(25px);
}
.home:after{
  color: white;
  background: #fbda90;
  transform: rotateX(90deg) translateZ(25px);
}
.home:hover{
  transform: translateZ(-30px) rotateX(-90deg);
}
.volunteer{
  position: absolute;
  top: 67%;
  left: 23%;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
  
}
.volunteer{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;
  
}
.volunteer:before,
.volunteer:after{
  position: absolute;
  content: "Volunteer With Us";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}
.volunteer:before{
  color: #fff;
  background: #fbda90;
  transform: rotateY(0deg) translateZ(25px);
}
.volunteer:after{
  color: #ffffff;
  background: #fbda90;
  transform: rotateX(90deg) translateZ(25px);
}
.volunteer:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}
.donate{
  position: absolute;
  top: 67%;
  left: 67%;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
  
}
.donate{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;
  
}
.donate:before,
.donate:after{
  position: absolute;
  content: "Donate";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}
.donate:before{
  color: #fff;
  background: #fbda90;
  transform: rotateY(0deg) translateZ(25px);
}
.donate:after{
  color: #ffffff;
  background: #fbda90;
  transform: rotateX(90deg) translateZ(25px);
}
.donate:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}

.map{
  position: absolute;
  top: 22%;
  left: 62%;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
  
}
.map{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;
  
}
.map:before,
.map:after{
  position: absolute;
  content: "Food Desert Map";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}
.map:before{
  color: #fff;
  background: #fbda90;
  transform: rotateY(0deg) translateZ(25px);
}
.map:after{
  color: #ffffff;
  background: #fbda90;
  transform: rotateX(90deg) translateZ(25px);
}
.map:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}

.extinfo{
  position: absolute;
  top: 22%;
  left: 20%;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
  
}
.extinfo{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;
  
}
.extinfo:before,
.extinfo:after{
  position: absolute;
  content: "Food Desert Info";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}
.extinfo:before{
  color: #fff;
  background: #fbda90;
  transform: rotateY(0deg) translateZ(25px);
}
.extinfo:after{
  color: #fff;
  background: #fbda90;
  transform: rotateX(90deg) translateZ(25px);
}
.extinfo:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}


/* nav css*/
nav {
  z-index: 9;
  position: sticky;
  padding: 5px;
  margin-left: 0%;
  margin-right: 0%;
  justify-content: center;
  margin-top: -10px;
  float: none;
  vertical-align: top;
  text-align: center;
  align-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
  padding-top: 20px;
  padding-bottom: 15px;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
}

li {
  display: inline-block;
}

nav li a {
  padding: 1em;
  margin: 0px 30px 0px;
}

a {
  text-emphasis: none;
  text-decoration: none;
  color: #FBDA90;
}

a:hover {
  color: #C58907;
  transition: 0.3s;
}

.sticky{
  position: -webkit-sticky;
	position: sticky;
	top: 0;
  background: white;
}

.emoji{
  font-size: 30px;
  padding: 10px;
}

#home-logo{
  position: absolute;
  top: 30px;
  left: 40px;
}

#resources-title{
  text-align: center;
  padding: 10px;
  margin: 30px;
  justify-content: center;
  display: flex;
  font-size: 70px;
}

#resources-title h1{
  text-align: center;
  margin: 20px;
}


#buttons-container{
  text-align: center;
  padding: 10px;
  margin: 30px;
  justify-content: center;
  display: flex;
}

#buttons-container a{
  display: flex;
  justify-content: center;
}


.volunteerImg{
    transform: scale(0.8);
    display: flex;
    position:absolute;
    top: 170px;
    left: 15%;
    float:left;
    padding-bottom: 15px;
    padding-right: 40px;
}
.volunteerImg2{
    display: flex;
    position:absolute;
    top: 170px;
    left: 60%;
    float:left;
    padding-bottom: 15px;
    padding-right: 40px;
}
}

.sticky{
  position: -webkit-sticky;
	position: sticky;
	top: 0;
  background: white;
}
